* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg");
    background-size:cover
}

#navigation{
    min-width: 30px;
    min-height: 250px;
}

#navigation ul{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#navigation li{
    font-size: 30px;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
    font-family: 'Raleway', sans-serif;
    opacity: 80%;
    letter-spacing: 5px;
}

#navigation .follow{
    font-size: 60px;
}

#navigation li:hover{
    color: red;
}

#navigation a{
    text-decoration: none;
}

#intro{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.box{
    margin-bottom: 30px;
    width: auto;
    height: 550px;
    background-image: url("https://images.unsplash.com/photo-1449157291145-7efd050a4d0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.me{
    border-radius: 15px;
    box-shadow: -2px -2px 20px rgb(49, 48, 48);
    margin: 30px;
}

.intro-title{
    font-size: 35px;
    padding: 40px;
    color: red;
    opacity: 70%;
}

main {
    width: 900px;
    height: 700px;
    margin: auto;
    padding: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    overflow: scroll;
    min-width: 700px;
    min-height: 500px;
}

.first-job,
.second-job{
    margin: 30px;
}

#jobs .silva{
    border-radius: 30px;
    box-shadow: -2px -2px 20px rgb(49, 48, 48);
    margin: 30px;
}

#jobs .coca-cola{
    margin: 20px;
}

h2{
    padding: 10px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

h4{
    color: red;
    margin: 10px;
}

#final{
    text-align: center;
    margin: 50px;
    padding: 0px;
}

#final .elon{
    border-radius: 10px;
    margin: 10px;
}

#contact-details{
    margin: 10px;
}

#contact-details .contact{
    color: red;
}